<h2 class=heading><span>編集</span></h2>

  <div class="container">
    <div class="form-row no-gutters">
     <div class="form-group col-md-5 col-sm-10 mx-2 mx-sm-auto rounded shadow-lg px-5 py-3 my-5">
      <%= form_with model: @post, url: post_path(@post.id),method: :patch, builder: ErrorFormBuilder do |f| %>
        
        <%= render "form", post: @post, f: f %>
        
        <span><%= link_to "削除",post_path(@post), method: :delete, class: "btn btn-block mt-1 btn-danger" %></span>
        <% end %>
    </div>
  </div>

    <div class="row mb-5">
      <div class="col-6 text-right">
        <%= link_to "<<   投稿詳細", post_path(@post), class: "text-secondary" %>
      </div>
      <div class="col-6">
        <%= link_to "一覧に戻る   >>", posts_path,class: "text-secondary"%>
      </div>
    </div>
  </div>
