
<h2 class=heading><span>All Post</span></h2>

<div class="card-list-container py-10 mt-10">
  <% @posts.each do |post| %> 
    <div class="card col-11 col-sm-6 col-md-6 col-lg-4 p-0 mx-auto mt-5 flex-column shadow-lg">

      <%= render 'card', post: post%>

       <div class="card-footer text-body-secondary">
        <div class ="row text-center">
          <div class="col-4 px-0">
            <%= l post.created_at, format: :short %>
          </div>
          <div class="col-4 px-0">
            <div id="favorites_btn_<%= post.id %>">

              <%= render 'public/favorites/btn', post: post %>
              
            </div>
          </div>
          <div class="col-4 px-0">
            <%= link_to "コメント#{post.post_comments.count}件", post_path(post.id), class: "text-dark" %>
              <i class="fa-regular fa-comment"></i>
          </div>
        </div>
       </div>
      </div>
    </div>
  <% end %>
  <div class ="row my-5 justify-content-center">
    <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
  </div>
</div>