<h2>Results index</h2>

<table class="table table-hover table-inverse">
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
         <td><%= link_to user_path(user.id) do %><%= image_tag user.get_profile_image(100,100) %><% end %></td>
         <td><%= user.name %></td>
        </tr>
      <% end %>
      <% if @users.count == 0 %>
        <p>検索結果がありませんでした</p>
      <% end %>
    </tbody>
  <% else %>
     <tbody>
       <% @posts.each do |post| %>
        <tr>
         <td><%= link_to user_path(post.user.id) do %><%= image_tag post.user.get_profile_image(100,100) %><% end %></td>
         <td><%= post.user.name %></td>
         <td><%= post.step_count %>歩</td>
         <td><%= post.place %></td>
         <td><%= post.genre %></td>
         <td><%= link_to "Show", post_path(post.id) %>
        </tr>
      <% end %>
      <% if @posts.count == 0 %>
        <p>検索結果がありませんでした</p>
      <% end %>
    </tbody>
  <% end %>
</table>