  <% if user_signed_in? %>
    <h2 class=heading><span>Top</span></h2>
    <div class="card-list-container py-10 mt-10">
      <div class="row mt-5 text-center flex-column">
      <% @posts.each do |post| %> 
         <div class="card col-11 col-sm-6 col-md-6 col-lg-4 p-0 mx-auto mt-5 flex-column shadow-lg">

          <%= render "public/posts/card", post: post %>
          
            <div class="card-footer text-body-secondary">
              <div class ="row">
                <div class="col-5 px-0">
                  <%= l post.created_at, format: :short %>
                </div>
                <div class="col-3 px-0">
                  <div id="favorites_btn_<%= post.id %>">
                    <%= render 'public/favorites/btn', post: post %>
                  </div>
                </div>
                <div class="col-4 px-0">
                  <%= link_to "コメント#{post.post_comments.count}件", post_path(post.id), class: "text-dark" %>
                  <i class="fa-regular fa-comment"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="container">
      <div class="row my-5">
        <h3 class="heading col-md-10 col-sm-8 mx-2 mx-sm-auto text-center">
          <%= image_tag 'recosanpo.png' %>へようこそ
        </h3>
      </div>
      <div class="col-md-10 col-sm-8 mx-2 mx-sm-auto rounded ">
        <span><%= link_to "ゲストログイン（閲覧用)", users_guest_sign_in_path, method: :post, class: "btn btn-block mt-1 btn-success mt-3" %></span>
        <span><%= link_to "ログイン",new_user_session_path, class: "btn btn-block mt-1 btn-warning text-white mt-3" %></span>
        <span><%= link_to "新規アカウント",new_user_registration_path, class: "btn btn-block mt-1 btn-info mt-3" %></span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 text-center">
        <span><%= link_to "管理者ログインはこちら", new_admin_session_path, class: "text-secondary" %></span>
      </div>
    </div>
  <% end %>