<h2>投稿編集</h2>
<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
  <% @post.errors.full_messages.each do |message| %>
   <li><%= message %></li>
  <% end %>
   </ul>
  <% end %>

<%= form_with model: @post, url: post_path(@post.id),method: :patch do |f| %>
 <div class="field">
  <label for="step_count">今日の歩数</label>
  <%= f.number_field :step_count %>
 </div> 
 <dic class="field">
  <label for="place">場所</label>
  <%= f.text_field :place %>
</div>
<div class="field">
 <label for="genre">ジャンル</label>
 <%= f.select :genre, ['日常', 'おでかけ', '旅行'], {include_blank: '---' } %>
</div>
</div>
<div class="field">
 <label for="body">本文</label>
 <%= f.text_area :body %>
</div>
<div class="field">
 <label for="image">画像</label>
 <%= f.file_field :image, accept: "image/*" %>
</div>

 <%= f.submit "保存" %>
<% end %>
<p><%= link_to "削除", post_path(@post), method: :delete %></p>
<%= link_to "投稿詳細", post_path(@post) %>
<%= "|" %>
<%= link_to "一覧に戻る", posts_path %>