<h1>投稿詳細</h1>
<div>
<span>
 <%= link_to user_path(@post.user.id) do %>
  <%= image_tag @post.user.get_profile_image %>
  <%= @post.user.name %>
 <% end %>
</span>
  <span>
   <%= @post.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
  </span>
  <span>
    <%= @post.step_count %>
  </span>
  <span>
   <%= @post.place %>
  </span>
  <span>
    <%= @post.genre %>
  </span>
  <span>
    <%= @post.body %>
  </span>
  <span>
    <% if @post.images.attached? %>
      <%= image_tag @post.image, size: "100x100" %>
    <% else %>
     <% end %>
    </span> 
  </div>
  <div>
  <% if @post.user == current_user %>
  <%= link_to "編集", edit_post_path(@post) %>
  <%= "|" %>
  <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか?" %>
  <% end %>
  </div>

  