<div class="user_show-container py-10 mt-10">
  <div class="row mt-5 text-center">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto">
      <table class="table">
        <tr>
         <%= image_tag @user.get_profile_image(200,200), class: "border-radius show" %>
          <%= link_to user_path(@user.id),class: "text-dark" do %>
            <span style="font-size: 20px; font-weight: bold;"><%= @user.name %></span>
          <% end %>
        </tr>
        <tr>
          <td><%= @user.introduction %></td>
        </tr>
      </table>
     </div>
  </div>
</div>

<div class="card-list-container py-10 mt-10">
  <% @posts.each do |post| %> 
    <div class="card col-11 col-sm-6 col-md-6 col-lg-4 p-0 mx-auto mt-5 shadow-lg">
      <div class="card text-center">
        <div class="card-header">
          <%= link_to  post_path(post.id),class: "text-dark" do %>
            <div class="card-step_count">今日の歩数
              <i class="fa-solid fa-shoe-prints"></i>
              <strong><%= post.step_count %></strong>歩
            </div>
          <% end %>
        </div>
        <div class="card-body">
          <div class="row">
           <div class="col-7 px-0">
            <%= image_tag post.user.get_profile_image(50,50), class: "border-radius" %>
              <%= link_to user_path(post.user.id),class: "text-dark" do %>
                <strong><%= post.user.name %></strong>
              <% end %>
           </div>
           <div class="col-5 px-0">
             <div class="card-place">
              <i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;<%= post.place %>
             </div>
             <div class="card-genre">
             <i class="fa-solid fa-person-walking"></i>&nbsp;&nbsp;<%= post.genre %>
             </div>
           </div>
          </div>
          <% unless post.body.blank? %>
            <hr width="auto">
            <div class="row">
              <div class="card-body"><%= post.body %></div>   
              </div>
            </div>
          <% end %>
        </div>
        <div class= body-img>
          <% if post.images.attached? %>
            <%= image_tag url_for(post.images.first), class: "card-img-bottom" %>
          <% else %>
          <% end %>
        </div>
        <div class="card-footer text-body-secondary">
          <%= post.created_at.strftime('%Y/%m/%d %H:%M') %> |
          <%= link_to "コメント#{post.post_comments.count}件", post_path(post.id), class: "text-dark" %>
          <i class="fa-regular fa-comment"></i>
        </div>
    </div>
  </div>
 <% end %>
</div>