<h1>ユーザー詳細</h1>

<%= image_tag @user.get_profile_image(100,100) %>
 <table class="table">

  <tr>
   <td>name</td>
   <th><%= @user.name %></th>
  </tr>
  <tr>
   <td>introduction</td>
   <td><%= @user.introduction %></td>
  </tr>
</table>

<table class="table">
 <tbody>
  <% @posts.each do |post| %>
  <tr>
    <th>
     <%= link_to user_path(post.user.id) do %>
     <%= image_tag post.user.get_profile_image(100,100) %>
     <% end %>
    </th>
    <th>
    <%= post.user.name %>
    </th>
  
  <td>
   <%= link_to post_path(post.id) do %>
    <%= post.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
    <%= post.step_count %>歩 
    <%= post.place %>
    <%= post.genre %>
    <% end %>
    <%= link_to "#{post.post_comments.count}コメント", post_path(post.id) %>
  </td>
  <td>
    <% if post.images.attached? %>
     <%= image_tag post.image, size: "100x100" %>
    <% else %>
    <% end %>
  </td>
  </tr>
 <% end %>
</tbody>
</table>