<!DOCTYPE html>
<html>
<head>
  <title>Admin - Recosnapo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <ul>
        <% if admin_signed_in? %>
          <div class="text-right">
          <%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete %>
          </div>
         <% end %>
         
      <li>
        <%= link_to admin_users_path do %>
        <%= "全ユーザー一覧" %>
        <% end %>
      </li>
    </ul>
  </header>
  
  <%= yield %>
</body>
</html>