<!DOCTYPE html>
<html>
  <head>
    <title>recosanpo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <h2>RECOSANPO</h2>
    <nav class>
      <ul>
       <li>
        <%= "マイページ" %>
       </li>
       <li>
         <%= "投稿" %>
       </li>
       <li>
        <%= link_to homes_about_path do %>
          <%= "RECOSANPOについて" %>
         <% end %>
       </li>
       <% if user_signed_in? %>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
           <%= "ログアウト" %>
          <% end %>
        </li>
      <% else %>
        <li>
         <%= link_to new_user_session_path do %>
          <%= "ログイン" %>
         <% end %>
        </li>
       <% end %>
       
       <li>
         <%= link_to new_user_registration_path do %>
          <%= "新規登録" %>
         <% end %>
       </li>
      </ul>
    </nav>

   </header>
    <%= yield %>
   <footer>
    <p>© 2024 Kanae Tomita</p>
   </footer>
  </body>
</html>