<!DOCTYPE html>
<html>
  <head>
    <title>recosanpo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/a05b89f759.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-rogo" href="/"><%= image_tag 'recosanpo.png' %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to mypage_path(current_user.id),class: 'nav-link text-dark' do %>
               <%= "マイページ" %>
               <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_post_path,class: 'nav-link text-dark', data: {turbolinks: "false"} do %>
               <%= "投稿" %>
               <% end %>
            </li>
            <li class="nav-item">
              <%= link_to posts_path,class: 'nav-link text-dark' do %>
               <%= "投稿一覧" %>
               <% end %>
            </li>
            <li class="nav-item">
              <%= link_to favorites_user_path(current_user.id),class: 'nav-link text-dark' do %>
               <%= "いいね一覧" %>
               <% end %>
            </li>
            <li class="nav-item">
              <%= link_to users_path,class: 'nav-link text-dark' do %>
                <%= "ユーザー一覧" %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to homes_about_path,class: 'nav-link text-dark' do %>
                <%= "RECOSANPOについて" %>
              <% end %>
            </li>
            <li class="nav-item">
             <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-dark' do %>
               <%= "ログアウト" %>
             <% end %>
            </li>
            <li><%= render 'public/posts/search' %></li>
          </ul>
        </div>
      </div>
    </nav>
          <% else %>
            <li class="nav-item">
              <%= link_to homes_about_path,class: 'nav-link text-dark' do %>
                <%= "RECOSANPOについて" %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path,class: 'nav-link text-dark' do %>
                <%= "ログイン" %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path,class: 'nav-link text-dark' do %>
                <%= "新規アカウント" %>
              <% end %>
            </li>
          </ul>
        </div>
          <% end %>
      </div>
    </nav>
      <div class="container-fluid">
        <div class="row px-3 px-4">
          <div class="row">
            <%= image_tag 'sora01.jpg', class: 'img-fluid' %>
          </div>
        </div>
      </div>
    </header>
    <% if flash[:notice] %>
      <div class="alert alert-success mt-2" role="alert">
        <p class="notice text-center mb-0" style="color:green;"><%= flash[:notice] %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger mt-2" role="alert">
      <p class="notice text-center mb-0" style="color:red;"><%=flash[:alert] %></p></div>
    <% end %>
    
    <%= yield %>
  
  <footer class="bg-light mt-5 py-3">
    <div class="container">
     <div class="row no-gutters">
      <div class="container-fluid text-center">
        <p>©RECOSANPO Corporation 2024</p>
      </div>
     </div>
    </div>
   </footer>
   <script src="https://cdn.jsdelivr.net/npm/jquery-jpostal-ja@2.14.45/jquery.jpostal.min.js"></script>
  </body>
</html>